[submodule "targets/lib/simplicity_sdk"]
	path = lib/simplicity_sdk
	url = https://github.com/SiliconLabs/simplicity_sdk.git
[submodule "lib/wiseconnect"]
	path = lib/wiseconnect
	url = https://github.com/SiliconLabs/wiseconnect.git
